* {
    font-family: 'Roboto';
    font-size: small;
    font-weight: lighter;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.big-box {
    display: flex;
}

.big-box.one {
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: column;
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.header.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.header.links {
    justify-content: space-around;
}

a:link, a:visited {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

span {
    padding-left: 10px;
}

.medium-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-bottom: 100px;
}

.small-box.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 0;
    color: #E5E7EB;
}

.heading.text {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    color: #F9FAF8; 
    font-size: 48px;
    font-weight: bold;
}

button {
   background-color: #3882F6;
   color: #F9FAF8;
   font-weight: bold;
   width: 30%;
   border-radius: 5px;
   padding: 5px 10px 5px 10px;
   height: 30%;
   border-color: transparent;
   font-size: 18px;
}

.small-box.two {
    display: flex;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}




.big-box.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    color: #1F2937;
    font-weight: bold;
    font-size: 36px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;   
}

.image {
    border: solid;
    border-color: #3882F6;
    flex-grow: 1;
    min-height: 150px;
    align-self: stretch;
    border-radius: 20px;
}

.info.text {
    text-align: center;
    font-size: 18px;
}




.big-box.three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thorsquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.thor {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

em {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

strong {
    font-size: 24px;
    font-weight: bold;
}




.big-box.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
}

.bluespace {
    border: solid;
    border-color: transparent;
    border-radius: 5px;
    background-color: #3882F6;
    width: 80%;
}

.bluesignup {
    border-color: #F9FAF8;
}

.bluecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

h5 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.psignup {
    color: #F9FAF8;
    font-size: 18px;
}


.big-box.five {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.copyright {
    color: #F9FAF8;
    font-size: 18px;
}