* {
    font-family: 'Roboto';
    font-size: small;
    font-weight: lighter;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.big-box {
    display: flex;
}

.big-box.one {
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: column;
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.header.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.header.links {
    justify-content: space-around;
}

a:link, a:visited {
    color: #F9FAF8;
    text-decoration: none;
}

span {
    padding-left: 10px;
    color: #F9FAF8;
}

.medium-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-bottom: 100px;
}

.small-box.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

button {
   background-color: #3882F6;
   color: #F9FAF8;
   font-weight: bold;
   width: 30%;
}

.small-box.two {
    display: flex;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}